<div class="edit_form_container">
    <div id="edit_form" class="edit_form">
        <form action="">
            
            <label for="name">NAME</label>
            <input type="text" name="name" id="name" [(ngModel)]="user.name"> <br>
            <label for="username">USERNAME</label>
            <input type="text" name="username" id="username" [(ngModel)]="user.username"> <br>
            <label for="email">EMAIL</label>
            <input type="text" name="email" id="email" [(ngModel)]="user.email"> <br>
            <label for="phone">PHONE</label>
            <input type="text" name="phone" id="phone" [(ngModel)]="user.phone"> <br>
            <label for="website">WEBSITE</label>
            <input type="text" name="website" id="website" [(ngModel)]="user.website"> <br>
        </form>
        <button (click)="enviar()">Añadir</button>
    </div>
</div>
